//黑色
$black:rgb(25, 25, 25);

//深灰色
$deep-gray: rgb(80, 80, 80);

//灰色
$gray:rgb(150, 150, 150);

//亮灰色
$light-gray: rgb(200, 200, 200);

//白色
$white:rgb(245, 245, 245);

//紅色
$red:rgb(225, 35, 35);

//橘色
$orange: rgb(255, 180, 0);

//黃色
$yellow: rgb(255, 210, 5);

//綠色
$light-green: rgb(40, 210, 65);

//深綠色
$green: rgb(103, 170, 63);

//藍綠色
$blue-green: rgb(45, 210, 190);

//藍色
$blue: rgb(45, 70, 240);

//青藍色
$light-blue:rgb(40, 150, 255);

//紫色
$purple: rgb(115, 25, 235);

//桃紅色
$peach:  rgb(220, 60, 200);

//粉紅色
$pink: rgb(250, 120, 250);

//透明色
@mixin bg-color-a($color, $opacity){
    background-color: rgba($color, $opacity);
}

//淡入效果
@mixin fade-in{
    visibility: visible;
    opacity: 1;
}
//淡出效果
@mixin fade-out {
    visibility: hidden;
    opacity: 0;
}

//立體效果
@mixin threeD($top, $middle, $down, $bottom){
    background: linear-gradient(
        $top 0%,
        $middle 10%,
        $down 90%,
        $bottom 100%,
    );
    box-shadow: 0 0 10px $gray;
}

//漸層效果
@mixin colors($top, $bottom) {
    background: linear-gradient(
        $top 0%,
        $bottom 100%,
    )
}